body {
  background-image: url("https://cdn.dribbble.com/users/1003944/screenshots/15741863/06_comp_1_4x.gif?compress=1&resize=400x300");
  background-position: center;
}
#chatboxMain {
  min-height: 90vh;
  width: 90%;
  overflow: hidden;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#chatListSide {
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  border-bottom-left-radius: 3px solid black;
  flex: 1;
  border-bottom-left-radius: 50px;
  background-color: white;
}
#chatBoxSide {
  background-color: black;
  flex: 2;
  border-left: 3px solid black;
}
#listSideTopBar {
  box-shadow: lightblue;
  background-color: black;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#profileImgTop {
  height: 40px;
  cursor: pointer;
  padding-left: 5px;
  padding-top: 5px;
  object-fit: cover;
  width: 40px;
  border-radius: 50px;
}
#messageIconTopBar {
  margin-left: auto;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
#moreIconTopBar {
  cursor: pointer;
  color: white;
}
#searchInput-NewChat {
  width: 90%;
  background-color: #efefef;
  height: 40px;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  padding-left: 15px;
}
#searchInputBoxListSide {
  padding-left: 15px;
  font-size: 15px;
  background-color: #efefef;
  width: 70%;
  height: 35px;
  border: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

#ProfileTopBar {
  box-shadow: lightblue;
  background-color: black;
  min-height: 10vh;
  color: white;
  display: flex;
  font-size: 100px;
  flex-direction: row;
  align-items: center;
}
#ProfileTopBar > svg {
  cursor: pointer;
}
#ProfilePageImage {
  height: 170px;
  width: 170px;
  border-radius: 100px;
}
#ProfilePageWrapperImage {
  padding: 20px;
  background-color: #efefef;
}
#profilePageName {
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;
  justify-content: space-between;
  font-family: sans-serif;
  color: #128c7e;
  border-radius: 50px;
}
#NameProfilePage {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px;
  align-items: center;
  justify-content: space-between;
  color: black;
}
#WhatsappWrapup {
  font-family: sans-serif;
  font-size: 15px;
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: start;
  background-color: #efefef;
}
#paragraph-profile {
  margin-top: 2%;
}

/*Chat List Component */

#chatListComponent {
  min-height: 5vh;
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #efefef;
  margin-bottom: 2px;
  max-height: 10vh;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}

#chatListComponentImageWrap {
  flex: 1;
}
#chatListComponentImage {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

#chatListComponentNameAndMsg {
  flex: 5;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#chatListComponentName {
  overflow-inline: scroll;
}
#chatListComponentNameAndMsg {
  overflow-inline: scroll;
}
